<!-- Second navbar for profile settings -->
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="fluid-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{getPath()}}"><b> {{getTitle()}}</b> </a>
        </div>
    </div><!-- /.container -->
</nav><!-- /.navbar -->
